Repository sunabak0/realworld-kotlin-springboot-jdbc, changes with the labels that .github/labeler.yml gives for each.
All labels: dev-tool, ci-cd, document, presentation-layer, usecase-layer, domain-layer, infra-layer

feat: git push 前に commit message を lint する
  .githooks/pre-push
Labels: none

feat: 空っぽの npm project を追加
  .gitignore
  .node-version
  package-lock.json
  package.json
Labels: dev-tool

feat: commitlint の追加
  commitlint.config.js
  package-lock.json
  package.json
Labels: dev-tool

feat: textlint を追加
  .textlintrc.js
  package-lock.json
  package.json
Labels: dev-tool

feat: commit message の lint を追加
  Makefile
  scripts/lint-git-commit-messages.sh
Labels: dev-tool

feat: pr のタイトルと内容に lint をできるようにする
  Makefile
  scripts/lint-current-branch-pull-request.sh
Labels: dev-tool

chore: yamllint の 1 行の長さチェックを OFF にする
  .yamllint.yaml
Labels: none

feat: 開発環境のセットアップを make task にする
  .GIT_COMMIT_MESSAGE_TEMPLATE.md
  Makefile
  scripts/setup.sh
Labels: dev-tool, document

chore: lint pr をするタイミングをお試し設定
  .github/workflows/lint-pull-request.yml
Labels: none

feat: pr の内容と commit message の lint の github action
  .github/workflows/lint-pull-request.yml
Labels: none

feat: 今更ながらの linter 導入 (#329)
  .GIT_COMMIT_MESSAGE_TEMPLATE.md
  .github/workflows/lint-pull-request.yml
  .gitignore
  .node-version
  .textlintrc.js
  .yamllint.yaml
  Makefile
  commitlint.config.js
  package-lock.json
  package.json
  scripts/lint-current-branch-pull-request.sh
  scripts/lint-git-commit-messages.sh
  scripts/setup.sh
Labels: dev-tool, document

回復可能・不可能なエラーについて記述を追記
  README.md
Labels: document

.github/labeler.yml:

#
# actions/labeler
#
# GitHub
# - https://github.com/actions/labeler
#
# ラベルの重複は許容
#

#
# dev-tool
#
# 開発ツール系
#
dev-tool:
  - 'package.json'
  - 'package-lock.json'
  - 'config/detekt/*'
  - 'Makefile'
  - 'commitlint.config.js'

#
# ci-cd
#
# CI/CD系
#
ci-cd:
  - '.github/*'

#
# document
#
# ドキュメント系
#
document:
  - '*.md'
  - '*.mdx'
  - 'docs/*'

#
# presentation-layer
#
# プレゼンテーション層
#
presentation-layer:
  - 'src/**/presentation/*'

#
# usecase-layer
#
# ユースケース層
#
usecase-layer:
  - 'src/**/usecase/*'

#
# domain-layer
#
# ドメイン層
#
domain-layer:
  - 'src/**/domain/*'

#
# infra-layer
#
# インフラ層
#
infra-layer:
  - 'src/**/infra/*'
